<h1 class="h3 mb-3 font-weight-normal"><%=t('sign_in')%></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => 'form-signin'}) do |f| %>


  <%= f.label :email%><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', :id => "inputEmail" %>

  <%= f.label :password%><br />
  <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control', :id => "inputPassword" %>

  <% if devise_mapping.rememberable? %>

    <%= f.check_box :remember_me,:class => 'checkbox mb-3'%>
    <%= f.label :remember_me %>

  <% end %>
  <%= f.submit t('log_in'),:class => 'btn btn-lg btn-primary btn-block'%>
<% end %>

<%= render "users/shared/links" %>