<%= form_with model: @recipe, class: 'form-group', local: true do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, value:'Name' %><br>
    <%= form.text_field :title, class: 'form-control', id: 'exampleFormControlInput1' %>
  </p>

  <p>
    <%= form.label :description, value: 'Recipe' %><br>
    <%= form.text_area :description, class: 'form-control', id:'exampleFormControlTextarea1' %>
  </p>

  <%= form.label :all_tags, value:'Tags' %> <br>
  <%= form.text_field :all_tags, class:'form-control', id:'exampleFormControlInput1' %>

  <p>
    <%= form.submit class: 'btn btn-lg btn-primary btn-block' %>
  </p>
<% end %>


